/* ==UserStyle==
@name           ChatGpt Material Dark With Wide Mode and Customization
@namespace      ameer-jamal.github.io/
@version        1.9.89
@description    Experience ChatGPT with a sleek Material Dark theme. Enjoy a distraction-free, immersive AI interaction on chat.openai.com.
@author         Ameer Jamal
@license        CC BY-ND 4.0
@preprocessor   less
@var color userInputTextColor "User Input Text Color" #CD950C
@var color userInputBackgroundGradientColor "User Input BG Gradient" #2b404c61

@var color gptOutputBackground "Gpt Output Background" #0D0D0D


@var color gptMainBodyOutputColor "GPT Main Body Output Text Color" #C0C0C0
@var color codeKeyWordsOutput "GPT Code Keywords Color" #E8922E
@var color headingOutput "GPT Headings" #fff
@var color boldOutput "GPT Bold words" #e5fdff
@var color linksOutput "GPT links" #53b7ff

@var checkbox   wideMode  "GPT Wide Mode" 0
@var checkbox   hideAddTeams "Hide Add Teams in chat history" 1

@var number     textInputBarMaxHeight "Adjust the max height of text input (px)"     ['px', 350, 1, null, 1]

==/UserStyle== */
/*
 * License: Creative Commons Attribution-NoDerivatives 4.0 International (CC BY-ND 4.0)
 * 
 * You are free to:
 * - Share — copy and redistribute the material in any medium or format.
 * 
 * Under the following terms:
 * - Attribution — You must give appropriate credit, provide a link to the license, and indicate if changes were made.
 *   You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
 * - No Derivatives — If you remix, transform, or build upon the material, you may not distribute the modified material.
 * - No Commercial Use — You may not use t
 * For the full license text, visit https://creativecommons.org/licenses/by-nd/4.0/
 * For any questions or concerns, please reach out to the original author.
 
*/
@-moz-document regexp("https://chat.openai.com(/.*)?") {
	@import (css) url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
	@import (css) url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
	@import (css) url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
	@import (css) url('href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

	:root {
		--futuristic-gradient: linear-gradient(to right, #0f2027, #203a43, #2c5364);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		--chat-background-gradient: linear-gradient(180deg, rgb(32 33 35 / 0%), rgb(32 33 35) 58.85%);
		--all-chat-history: @gptOutputBackground;
		--main-chat-border-color: rgba(137, 126, 109, 0.35);
		--deep-space: linear-gradient(to left, #000000, #434343);
		--deep-space-to-top-transparent: linear-gradient(to top, #4343434f, #0D0D0D);

		--alerts: linear-gradient(to right, #ff512ff0, #f09819f0);
		--code-background: #1E1E1E;
		/* Vscode Dark+ */
		--code-topbar: radial-gradient(circle at -5.9%, #2c5364 0%, #00283a 15.9%, #1E1E1E 24.5%, #1E1E1E 100%);
		--user-input: linear-gradient(to right,
		#2c53646e 0%,
		#000000 100%);
		--selected-chat-gradient: linear-gradient(to right, @userInputBackgroundGradientColor , #0D0D0D 100%);
		--chat-history-list: #C0C0C0;
		--sidebar-surface-secondary: #676767a6;
		/*Highlight selected chat not used in favor of --sidebar-surface-tertiary*/
		/* Alternative user input text color: #B0C4DE */
		--user-input-text: @userInputTextColor;
		--main-body-output: @gptMainBodyOutputColor;
		--code-key-words: @codeKeyWordsOutput;
		--heading-output: @headingOutput;
		--bold-output: @boldOutput;
		--links-output: @linksOutput;
	}

	/*********************************************************************************/
	/**************HOME PAGE WHEN NEW CHAT STARTING **********************************/
	.align-center.flex.h-full.w-full.flex-col.justify-center.self-center.px-2.pb-2.md\:pb-\[8vh\] {
		background: black !important;
	}

	/* Input Dialog */
	.absolute.bottom-0.left-0.w-full.border-t.md\:border-t-0.dark\:border-white\/20.md\:border-transparent.md\:dark\:border-transparent.md\:bg-vert-light-gradient.bg-white.dark\:bg-gray-800.md\:\!bg-transparent.dark\:md\:bg-vert-dark-gradient.pt-2.md\:pl-2.md\:w-\[calc\(100\%-\.5rem\)\] {
		background: linear-gradient(to top, #2c2c2c, #000) !important;
		padding: 20px !important;
	}

	.align-center.flex.h-full.w-full.flex-col.justify-center.self-center.px-2.pb-2.md\:pb-\[8vh\] {
		background: black;
	}

	/* current Model */
	.px-2.w-full.flex.flex-col.py-2.md\:py-6.sticky.top-0 {
		background: linear-gradient(to bottom, #43434385, black) !important;
	}

	.pb-64 {
		padding-bottom: 0px !important;
	}

	/*********************************************************************************/
	/*The word new chat in the new chat button*/
	span.truncate {
		display: contents;
		color: white;
	}

	/* replace bg color */
	.dark body,
	.dark html {
		background-color: rgba(18, 18, 18, 1);
	}


	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.relative.flex.h-full.max-w-full.flex-1.overflow-hidden > div > main > div.flex-1.overflow-hidden {
		background-color: rgba(18, 18, 18, var(--tw-bg-opacity));
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.relative.flex.h-full.max-w-full.flex-1.overflow-hidden > div > main > div.flex-1.overflow-hidden > div > div > div > div.flex.items-center.justify-center.gap-1.border-b.border-black\/10.bg-gray-50.p-3.text-gray-500.dark\:border-gray-900\/50.dark\:bg-gray-700.dark\:text-gray-300 {
		background-color: rgba(18, 18, 18);
	}

	/* First launch new chat suggested chat buttons */
	.dark .btn-neutral {
		background: var(--code-background);
	}

	/*change the background of model type*/
	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.relative.flex.h-full.max-w-full.flex-1.overflow-hidden > div > main > div.flex-1.overflow-hidden > div > div > div > header > div {
		backdrop-filter: blur(4px) saturate(100%);
		-webkit-backdrop-filter: blur(1px) saturate(200%);
		background-color: rgba(18, 18, 18, 0.2);
		color: rgb(255, 255, 255);
	}


	/* code section styling */
	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.relative.flex.h-full.max-w-full.flex-1.overflow-hidden > div > main > div.flex-1.overflow-hidden > div > div > div > div > div.relative.flex.w-\[calc\(100\%-50px\)\].flex-col.gap-1.md\:gap-3.lg\:w-\[calc\(100\%-115px\)\] > div.flex.flex-grow.flex-col.gap-3 > div > div > pre > div > div.flex.items-center.relative.text-gray-200.bg-gray-800.px-4.py-2.text-xs.font-sans.justify-between.rounded-t-md {
		background: #1c1d1f;
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.relative.flex.h-full.max-w-full.flex-1.overflow-hidden > div > main > div.flex-1.overflow-hidden > div > div > div > div > div.relative.flex.w-\[calc\(100\%-50px\)\].flex-col.gap-1.md\:gap-3.lg\:w-\[calc\(100\%-115px\)\] > div.flex.flex-grow.flex-col.gap-3 > div > div > pre > div > div.p-4.overflow-y-auto {
		background: #1c1d1f;
	}

	/*********************************************************************************/
	/* Code top bar */
	.flex.items-center.relative.text-token-text-secondary.bg-token-main-surface-secondary.px-4.py-2.text-xs.font-sans.justify-between.rounded-t-md {
		color: #d5d5d5 !important;
		font-family: 'Fira Code', monospace !important;
		font-size: 18px;
		font-weight: bold;
		background: var(--code-topbar);
		border-bottom: 0.1px solid #fff9;
		letter-spacing: 4px;
		font-variant: small-caps;
	}

	/*Code background*/
	.p-4.overflow-y-auto {
		background: var(--code-background);
	}

	/* Code snippet font and settings*/
	code,
	pre,
	kbd,
	samp {
		letter-spacing: 0.5px;
		font-variant-ligatures: contextual;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		/* for Chrome, Safari */
		-moz-osx-font-smoothing: grayscale;
		/* for Firefox */
	}

	code,
	pre {
		font-family: 'Fira Code', monospace !important;
	}



	/* fading cursor */
	@-webkit-keyframes fade {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes fade {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.result-streaming > :not(ol):not(ul):not(pre):last-child:after,
	.result-streaming > ol:last-child li:last-child:after,
	.result-streaming > pre:last-child code:after,
	.result-streaming > ul:last-child li:last-child:after {
		-webkit-animation: fade 1s ease-in-out infinite;
		animation: fade 1s ease-in-out infinite;
		content: "▋";
		margin-left: .25rem;
		vertical-align: baseline;
	}



	/* load chat animation*/
	@keyframes fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		0% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.relative.flex.h-full.max-w-full.flex-1.overflow-hidden > div > main > div.flex-1.overflow-hidden > div > div > div {
		animation: fade-in 0.25s ease-in forwards;
		opacity: 0;
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.relative.flex.h-full.max-w-full.flex-1.overflow-hidden > div > main > div.flex-1.overflow-hidden > div > div > div.fade-out {
		animation: fade-out 0.25s ease-out forwards;
	}


	/* scroll smoothly */
	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.relative.flex.h-full.max-w-full.flex-1.overflow-hidden > div > main > div.flex-1.overflow-hidden > div > div {
		scroll-behavior: smooth;
	}


	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.relative.flex.h-full.max-w-full.flex-1.overflow-hidden > div > main > div.absolute.bottom-0.left-0.w-full.border-t.md\:border-t-0.dark\:border-white\/20.md\:border-transparent.md\:dark\:border-transparent.md\:bg-vert-light-gradient.bg-white.dark\:bg-gray-800.md\:\!bg-transparent.dark\:md\:bg-vert-dark-gradient.pt-2.md\:pl-2.md\:w-\[calc\(100\%-\.5rem\)\] > form > div > div.flex.flex-col.w-full.py-\[10px\].flex-grow.md\:py-4.md\:pl-4.relative.border.border-black\/10.bg-white.dark\:border-gray-900\/50.dark\:text-white.dark\:bg-gray-700.rounded-xl.shadow-xs.dark\:shadow-xs {
		backdrop-filter: blur(5px) saturate(100%);
		-webkit-backdrop-filter: blur(1px) saturate(200%);
		background-color: rgba(18, 18, 18, 0.2);
		border-radius: 12px;
		border: 1px solid rgba(67, 69, 71, .7);
		color: rgb(255, 255, 255);
	}

	/*********************************************************************************/
	/*Send a message Box*/
	.dark .dark\:bg-gray-700 {
		backdrop-filter: blur(5px) saturate(100%);
		-webkit-backdrop-filter: blur(1px) saturate(200%);
		background-color: rgba(18, 18, 18, 0.2);
		border-radius: 12px;
		border: 1px solid rgba(67, 69, 71, .7);
		color: rgb(255, 255, 255);
	}


	/*********************************************************************************/
	/* regenerate response */
	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.relative.flex.h-full.max-w-full.flex-1.overflow-hidden > div > main > div.absolute.bottom-0.left-0.w-full.border-t.md\:border-t-0.dark\:border-white\/20.md\:border-transparent.md\:dark\:border-transparent.md\:bg-vert-light-gradient.bg-white.dark\:bg-gray-800.md\:\!bg-transparent.dark\:md\:bg-vert-dark-gradient.pt-2.md\:pl-2.md\:w-\[calc\(100\%-\.5rem\)\] > form > div > div:nth-child(1) > div > button {
		backdrop-filter: blur(5px) saturate(100%);
		-webkit-backdrop-filter: blur(1px) saturate(200%);
		background-color: rgba(18, 18, 18, 0.2);
		border-radius: 122px;
		border: 1px solid rgba(54, 55, 57, .7);
		color: rgb(255, 255, 255);
	}

	.rounded-sm {
		border-radius: 122px;
	}


	/*********************************************************************************/
	/*Chat input */
	.dark .dark\:bg-gray-800 {
		--tw-bg-opacity: 1;
		color: var(--user-input-text) !important;

		background: #000000;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to bottom, #434343, #000000);
		/* Chrome 10-25, Safari 5.1-6 */
		background: var(--user-input)!important;
	}

	.dark .dark\:bg-gray-800:last-child {
		background: black!important;
	}


	/*Chat output */
	.dark .dark\:bg-\[\#444654\] {
		--tw-bg-opacity: 1;
		background: black;
	}

	/*Chat Background*/
	.dark .dark\:md\:bg-vert-dark-gradient {
		background-image: var(--chat-background-gradient)
	}

	.sticky.top-0.z-\[9\].w-full {
		background: #00000017;
	}

	/*Gpt Output Background*/
	.w-full.text-token-text-primary:nth-child(odd) {
		background: var(--all-chat-history) !important;
	}


	/*sidebar underlying color*/
	.text-token-text-primary:nth-child(odd) {
		background: black !important;
	}

	/*Input box bottom middle to right*/
	.w-full.pt-2.md\:pt-0.dark\:border-white\/20.md\:border-transparent.md\:dark\:border-transparent.md\:w-\[calc\(100\%-\.5rem\)\]:last-child {
		background: var(--deep-space-to-top-transparent);
	}

	/*Input box padding to text*/
	.flex.flex-col.pb-9.text-sm {
		padding-bottom: 0;
	}

	/** Chat input text */
	.dark .dark\:prose-invert {
		--tw-prose-headings: var(--heading-output) !important;
		--tw-prose-body: var(--main-body-output) !important;
		--tw-prose-bold: var(--bold-output) !important;
		--tw-prose-code: var(--code-key-words) !important;
		--tw-prose-links: var(--links-output) !important;
		--tw-prose-quotes: #ffc7f8;
		--tw-prose-hr: #2fffd2;
	}

	/** Chat input links */
	.markdown a {
		color: var(--links-output) !important;
	}

	/*********************************************************************************/
	/*Recent Chat background*/
	.dark .dark\:bg-gray-900 {
		background-color: rgba(18, 18, 18, var(--tw-bg-opacity));
	}

	/*Recent Chat background Hover*/
	.dark .dark\:bg-gray-900:hover {
		background: var(--deep-space);
	}


	/*********************************************************************************/
	/*Chat border seperation between AI and user*/
	.dark .dark\:border-gray-900\/50 {
		border-color: var(--main-chat-border-color)
	}

	#__next > div > div.flex.h-full.flex-1.flex-col.md\:pl-\[260px\] > main > div.flex-1.overflow-hidden > div > div > div.w-full.h-48.flex-shrink-0 {
		background-color: rgba(18, 18, 18, var(--tw-bg-opacity));
	}


	#__next > div > div.flex.h-full.flex-1.flex-col.md\:pl-\[260px\] > main > div.flex-1.overflow-hidden > div > div > div > div > div.relative.flex.w-\[calc\(100\%-50px\)\].md\:flex-col.lg\:w-\[calc\(100\%-115px\)\] > div.flex.flex-grow.flex-col.gap-3 > div {
		font-size: 26px
	}

	/*********************************************************************************/
	/* new chat button*/
	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.dark.flex-shrink-0.overflow-x-hidden.bg-gray-900 > div > div > div > nav > div.mb-1.flex.flex-row.gap-2 > a {
		background: var(--futuristic-gradient);
		border-radius: 10px;
		font-size: 0.9rem;
		transition: box-shadow 0.3s;
		text-align: center;
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.dark.flex-shrink-0.overflow-x-hidden.bg-gray-900 > div > div > div > nav > div.mb-1.flex.flex-row.gap-2 > a:hover {
		box-shadow: 1px 1px 10px rgba(38, 198, 218, 0.9);
	}


	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.dark.flex-shrink-0.overflow-x-hidden.bg-gray-900 > div > div > div > nav > div.mb-1.flex.flex-row.gap-2 {
		width: 8px!important;
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.dark.flex-shrink-0.overflow-x-hidden.bg-gray-900 > div > div > div > nav > div.mb-1.flex.flex-row.gap-2 > a {
		padding-right: 7.3rem;
		border-color: black;
	}

	/*********************************************************************************/
	/* hide sidebar icon */
	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.dark.flex-shrink-0.overflow-x-hidden.bg-gray-900 > div > div > div > nav > div.mb-1.flex.flex-row.gap-2 > span {
		background: var(--futuristic-gradient);
		border-radius: 10px;
		font-size: 0.9rem;
		transition: box-shadow 0.3s;
		text-align: center;
	}



	/*Beautify issue so damn annoying*/
a.flex.px-3.min-h-\[44px\].py-1.gap-3.transition-colors.duration-200.dark\:text-white.cursor-pointer.text-sm.rounded-md.border.dark\:border-white\/20.gizmo\:min-h-0.hover\:bg-gray-500\/10.h-11.gizmo\:h-10.gizmo\:rounded-lg.gizmo\:border-\[rgba\(0\,0\,0\,0\.1\)\].w-11.flex-shrink-0.items-center.justify-center.bg-white.dark\:bg-transparent{
		border: black;
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.dark.flex-shrink-0.overflow-x-hidden.bg-gray-900 > div > div > div > nav > div.mb-1.flex.flex-row.gap-2 > span:hover {
		box-shadow: 1px 1px 10px rgba(38, 198, 218, 0.9);
	}


	/*********************************************************************************/
	/* Current Selected Chat*/
	.bg-gray-800 {
		background: var(--futuristic-gradient);

		box-shadow: 1px 1px 0 rgba(38, 198, 218, 0);
		transition: background 0.1s;
	}

	.hover\:bg-\[\#2A2B32\]:hover {
		background: var(--deep-space);
	}

	.from-gray-800 {
		--tw-gradient-from: rgba(18, 18, 18, 0) var(--tw-gradient-from-position);
		--tw-gradient-to: rgba(52, 53, 65, 0) var(--tw-gradient-to-position);
		--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
	}

	.from-gray-900 {
		--tw-gradient-from: rgba(32, 33, 35) var(--tw-gradient-from-position);
		--tw-gradient-to: rgba(32, 33, 35, 0) var(--tw-gradient-to-position);
		--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
	}

	.group:hover .group-hover\:from-\[\#2A2B32\] {
		--tw-gradient-from: #0000 var(--tw-gradient-from-position);
		--tw-gradient-to: rgba(42, 43, 50, 0) var(--tw-gradient-to-position);
		--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
	}

	.hover\:bg-gray-800:hover {
		--tw-bg-opacity: 1;
		background-color: rgba(50, 50, 52, var(--tw-bg-opacity));
	}


	#__next > div > div.dark.hidden.bg-gray-900.md\:fixed.md\:inset-y-0.md\:flex.md\:w-\[260px\].md\:flex-col > div > div > nav > a.flex.py-3.px-3.items-center.gap-3.rounded-md.hover\:bg-gray-500\/10.transition-colors.duration-200.text-white.cursor-pointer.text-sm.mb-2.flex-shrink-0.border.border-white\/20:hover {
		opacity: 90%
	}


	#__next > div > div.dark.hidden.bg-gray-900.md\:fixed.md\:inset-y-0.md\:flex.md\:w-\[260px\].md\:flex-col > div > div > nav > a.flex.py-3.px-3.items-center.gap-3.rounded-md.hover\:bg-gray-500\/10.transition-colors.duration-200.text-white.cursor-pointer.text-sm.mb-2.flex-shrink-0.border.border-white\/20 span {
		color: white;
		font-size: 18px;
		font-weight: 100;
	}

	#__next > div > div.flex.h-full.flex-1.flex-col.md\:pl-\[260px\] > main > div.flex-1.overflow-hidden > div > div > div > div > div > div.relative.flex.w-\[calc\(100\%-50px\)\].md\:flex-col.lg\:w-\[calc\(100\%-115px\)\] > div.flex.flex-grow.flex-col.gap-3 {
		color: white;
		font-size: 18px;
		font-weight: 400;
	}

	body {
		font-family: 'Open Sans', sans-serif;
	}

	::-moz-selection {
		/* Code for Firefox */
		background: #c2c2ce2b;
	}

	::selection {
		background: #c2c2ce2b;
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.relative.flex.h-full.max-w-full.flex-1.overflow-hidden > div > main > div.flex-1.overflow-hidden > div > div > div {
		padding-top: 5px;
		margin-left: 5px;
		font-family: 'Roboto', sans-serif;
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.dark.flex-shrink-0.overflow-x-hidden.bg-gray-900 > div > div > div {
		padding-left: 5px;
		width: 300px !important;
		background: transparent;
		padding-top: 5px;
		font-family: 'JetBrains Mono', sans-serif;
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.dark.flex-shrink-0.overflow-x-hidden.bg-gray-900 {
		width: 300px !important;
	}

	/*********************************************************************************/
	/*All Chat history general  background of the chat history behind elements */
	nav[aria-label="Chat history"] {
		background: black;
		font-family: "Montserrat", sans-serif;
		font-optical-sizing: auto;
		font-weight: 600;
		font-style: normal;
	}

	/*All Chat history*/
	/*Chat history list*/
	.relative.grow.overflow-hidden.whitespace-nowrap {
		color: var(--chat-history-list);
		margin-right: 20px;
	}

	/*Explore gpts and Add team workspace*/
	.text-sm {
		color: var(--chat-history-list);
	}


	/*Username*/
	.relative.-top-px.grow.-space-y-px.overflow-hidden.text-ellipsis.whitespace-nowrap.text-left.text-token-text-primary {
		color: var(--chat-history-list) !important;
		border: none !important;
	}

	/*The word chat gpt top left*/
	.grow.overflow-hidden.text-ellipsis.whitespace-nowrap.text-sm.text-token-text-primary {
		color: var(--chat-history-list) !important;
		border: none !important;
	}

	/*Chat History Buttons fix */
	button.text-token-text-primary {
		color: var(--chat-history-list) !important;
		border: none !important;
		background: transparent !important;
	}

	button.text-token-text-primary[aria-haspopup="menu"] {
		background: transparent !important;
	}

	/*username bottom left*/
	.relative.-top-px.grow.-space-y-px.overflow-hidden.text-ellipsis.whitespace-nowrap.text-left.text-token-text-primary {
		background: var(--text-token-tertiary) !important;
	}

	/*chat gpt text in button top left*/
	.grow.overflow-hidden.text-ellipsis.whitespace-nowrap.text-sm.text-token-text-primary {
		background: transparent !important;
	}

	/*chat gpt button top left*/
	.bg-token-sidebar-surface-primary {
		background: black !important;
	}

	/*Hover over chat gpt text in button top left*/
	.group.flex.h-10.items-center.gap-2.rounded-lg.bg-token-sidebar-surface-primary.px-2.font-medium:hover {
		background-color: var(--sidebar-surface-tertiary) !important;
	}

	/*Recent Chat background Hover For Day/Times*/
	h3.h-9.pb-2.pt-3.px-2.text-xs.font-medium.text-ellipsis.overflow-hidden.break-all.text-token-text-tertiary {
		background: black!important
	}

	a.flex.h-10.w-full.items-center.gap-2.rounded-lg.px-2.font-medium.text-token-text-primary.hover\:bg-token-sidebar-surface-secondary {
		background-color: black !important;
	}

	/*GPTS Button top left in chat history*/
	a.flex.h-10.w-full.items-center.gap-2.rounded-lg.px-2.font-medium.text-token-text-primary.hover\:bg-token-sidebar-surface-secondary:hover {
		background-color: var(--sidebar-surface-tertiary) !important;
	}

	/*********************************************************************************/
	/* hide chat icon in chat history */
	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.dark.flex-shrink-0.overflow-x-hidden.bg-gray-900 > div > div > div > nav > div.flex-col.flex-1.transition-opacity.duration-500.overflow-y-auto > div > div > span > div > ol > li > a > svg {
		display: none;
	}

	#__next > div > div.flex.h-full.flex-1.flex-col.md\:pl-\[260px\] > main > div.flex-1.overflow-hidden > div {
		background: var(--all-chat-history);
	}

	\/75 {
		background-color: rgb(185 185 185 / 25%);
	}

	#headlessui-dialog-panel-\:r8\: {
		backdrop-filter: blur(5px) saturate(100%);
		-webkit-backdrop-filter: blur(1px) saturate(100%);
		background-color: rgba(18, 18, 18, 0.2);
		border-radius: 12px;
		border: 1px solid rgba(67, 69, 71, .7);
		color: rgb(255, 255, 255);
	}

	/*********************************************************************************/
	#__next > div.overflow-hidden.w-full.h-full.relative.flex > div.dark.hidden.bg-gray-900.md\:flex.md\:w-\[260px\].md\:flex-col > div > div > nav > a:nth-child(4) > span > span.rounded-md.bg-yellow-200.py-0\.5.px-1\.5.text-xs.font-medium.uppercase.text-gray-800 {
		display: none;
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex > div.dark.hidden.bg-gray-900.md\:flex.md\:w-\[260px\].md\:flex-col > div > div > nav > a:nth-child(3) {
		font-size: 0;
		width: 60px;
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex > div.dark.hidden.bg-gray-900.md\:flex.md\:w-\[260px\].md\:flex-col > div > div > nav > a:nth-child(4) {
		font-size: 0;
		width: 60px;
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex > div.dark.hidden.bg-gray-900.md\:flex.md\:w-\[260px\].md\:flex-col > div > div > nav > a:nth-child(5) {
		font-size: 0;
		width: 60px;
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex > div.dark.hidden.bg-gray-900.md\:flex.md\:w-\[260px\].md\:flex-col > div > div > nav > a:nth-child(6) {
		font-size: 0;
		width: 60px;
	}

	/* .result-streaming {display: none;} */
	#__next > div.overflow-hidden.w-full.h-full.relative.flex > div.dark.hidden.bg-gray-900.md\:flex.md\:w-\[260px\].md\:flex-col > div > div > nav > a:nth-child(7) {
		font-size: 0;
		width: 60px;
	}

	.h-4 w-4 {
		display: none;
	}

	/*hide disclaimer and version */
	#__next > div.overflow-hidden.w-full.h-full.relative.flex.z-0 > div.relative.flex.h-full.max-w-full.flex-1.overflow-hidden > div > main > div.absolute.bottom-0.left-0.w-full.border-t.md\:border-t-0.dark\:border-white\/20.md\:border-transparent.md\:dark\:border-transparent.md\:bg-vert-light-gradient.bg-white.dark\:bg-gray-800.md\:\!bg-transparent.dark\:md\:bg-vert-dark-gradient.pt-2.md\:-left-2 > div > span {
		display: none;
	}


	/* chatgpt title */
	#__next > div.overflow-hidden.w-full.h-full.relative.flex > div.flex.h-full.max-w-full.flex-1.flex-col > main > div.flex-1.overflow-hidden > div > div > div > div.text-gray-800.w-full.md\:max-w-2xl.lg\:max-w-3xl.md\:h-full.md\:flex.md\:flex-col.px-6.dark\:text-gray-100 > h1 {
		font-size: 0px;
	}

	#__next > div.overflow-hidden.w-full.h-full.relative.flex > div.flex.h-full.max-w-full.flex-1.flex-col > main > div.flex-1.overflow-hidden > div > div > div > div.text-gray-800.w-full.md\:max-w-2xl.lg\:max-w-3xl.md\:h-full.md\:flex.md\:flex-col.px-6.dark\:text-gray-100 > div {
		display: none;
	}

	/* Chat history backgroud plus remove gradient*/
	.bg-gradient-to-l {
		display: none;
	}

	.bg-gray-900 {
		background-color: transparent;
	}


	/*********************************************************************************/
	/*2023 Novemeber update in progress*/
	/*Stick top*/
	.sticky.top-0.flex.items-center.justify-between.z-10.h-14 {
		background: linear-gradient(to right, black, rgba(0, 0, 0, 0) 50%, black);
	}

	/*Text Area to enter chat*/
	textarea#prompt-textarea {
		background: #00000096;
		max-height: @textInputBarMaxHeight !important;
	}

	div#radix {
		background: #00000085 !important;
	}

	/*Gpt input*/
	.text-token-text-primary {
		color: var(--user-input-text) !important;
		/*input Color?*/
		background: var(--selected-chat-gradient) !important;
		border-top: solid rgba(255, 255, 255, .2) 1px !important
	}

	/*Gpt main screen input */
	.flex.h-full.flex-col.items-center.justify-center.text-token-text-primary {
		background: var(--all-chat-history) !important;
	}



	.p-2 {
		padding-right: 2rem
	}

	.py-2\.5:not(:last-child) {
		color: white;
	}


	/*Icon in more text*/
	.icon-md {
		stroke: white;
		stroke-width: 0px;
	}

	/*Disclamer text*/
	.relative.px-2.py-2.text-center.text-xs.text-gray-600.dark\:text-gray-300.md\:px-\[60px\] {
		color: black;
	}

	.gizmo .markdown > :not(pre), .gizmo .markdown > :not(pre) > :not(a) {
		color: var(--main-body-output);
	}

	.markdown h1,
	.markdown h2,
	.markdown h3,
	.markdown h4,
	.markdown h4,
	.markdown h4 {
		color: var(--heading-output) !important;
	}

	.prose :where(strong):not(:where([class~=not-prose] *)) {
		color: var(--bold-output) !important;
	}

	/*********************************************************************************/
	/* Current Chat edit or "remove" current chat buttons*/
	button.p-1.hover\:text-white svg {
		stroke: #cacaca;
	}

	button.p-1.hover\:text-white svg:hover {
		stroke: white;
	}

	.p-1 {
		padding: 0.01rem
	}

	/*********************************************************************************/
	div[role="alert"] {
		background: var(--alerts);
		border: transparent;
	}

	.border-white\/20 {
		border-color: transparent
	}



	/*********************************************************************************/
	/*Scroll Bars*/
	/* Hide the entire scrollbar by default */
	::-webkit-scrollbar {
		opacity: 0;
		transition: opacity 0.5s;
	}

	/* The width for vertical and height for horizontal scrollbars */
	::-webkit-scrollbar:vertical {
		width: 10px;
	}

	::-webkit-scrollbar:horizontal {
		height: 10px;
	}

	/* Show the entire scrollbar on hover over the body or any scrollable container */
	body:hover::-webkit-scrollbar,
	.scrollable-container:hover::-webkit-scrollbar {
		opacity: 1;
	}

	/* The draggable scrolling handle */
	::-webkit-scrollbar-thumb {
		background: var(--futuristic-gradient);
		border-radius: 5px;
	}


	/* The empty space “below” the scrollbar bar */
	::-webkit-scrollbar-track {
		background-color: transparent;
	}


	/*********************************************************************************/
	/*Highlighing text*/
	::selection {
		background-color: white !important;
		color: blue !important;
	}

	::-moz-selection {
		background-color: white !important;
		color: blue !important;
	}

	-webkit-selection {
		background-color: white !important;
		color: blue !important;
	}

	/*********************************************************************************/
	/* Applicable only for keepchatgpt userscript  */
	div#kcg {
		background: black !important;
	}

	/*********************************************************************************/
	/* Applicable only for Grepper save to grepper in code boxs */
	.open_grepper_editor.gpt_grepper_add_answer_trigger {
		top: 2px !important;
		right: 195px !important;
		color: #d5d5d5 !important;
		font-size: 18px !important;
		font-weight: bold;
		background: var(--code-topbar);
		letter-spacing: 1px;
	}

	/*********************************************************************************/
	/* Applicable only for ChatGPT Chat Organizer - Folders Extension https://chrome.google.com/webstore/detail/chatgpt-chat-organizer-fo/eaoimfbcncfnjkojlfjinakmflglmegk?hl=en-GB  */
	.popup-container.fixed.top-0.left-0.w-screen.h-screen.flex.items-center.justify-center.z-50 {
		background-color: rgba(69, 69, 69, .69) !important;
	}

	.groups-div-extension {
		color: var(--chat-history-list);
	}

	.p-4.bg-gray-900.rounded-md.shadow-md {
		background: var(--all-chat-history);
		margin-bottom: 3%;
		text-align: center;
		line-height: 1.5;
	}

	.pb-2.border-b.border-gray-300.cursor-pointer.px-1 {
		transition: border-radius .5s ease, color 0.5s ease, background 0.5s ease;
		padding: 8px;
	}

	.pb-2.border-b.border-gray-300.cursor-pointer.px-1:hover {
		color: white;
		background: var(--futuristic-gradient);
		border-radius: 55px;
	}


	a.flex.py-1.px-3.items-center.gap-1.relative.rounded-md.break-all.mb-2 {
		display: none;
	}

	/*********************************************************************************/
	/*New Chat Input Text Color ?? */
	.empty\:hidden {
		color: var(--user-input-text) !important;
	}

	/*********************************************************************************/
	/*Send Button*/
	svg.icon-sm.m-1.md\:m-0 {
		margin: .5rem;
	}

	/*********************************************************************************/
	/************************************WIDE MODE************************************/
	/*********************************************************************************/
	& when(@wideMode =1) {
		.gizmo .gizmo\:xl\:max-w-\[48rem\] {
			max-width: 95%;
		}

		.md\:max-w-3xl, .max-w-lg {
			max-width: 95%;
		}

		.max-h-\[75vh\] {
			max-height: 95%;
		}

		.prose {
			max-width: 100%;
		}
	}


	/************************************Hide Add Teams Advertisment************************************/
	& when (@hideAddTeams =1) {
		a.group.flex.gap-2.p-2\.5.text-sm.cursor-pointer.focus\:ring-0.radix-disabled\:pointer-events-none.radix-disabled\:opacity-50.hover\:bg-token-sidebar-surface-secondary.m-0.rounded-lg.px-2 {
			display: none;
			height: 0px;
		}
		/*Warning text*/
		.relative.px-2.py-2.text-center.text-xs.text-token-text-secondary.md\:px-\[60px\]{
		      color:transparent;
		}
	}
}